<!DOCTYPE HTML>
<html>
<head>
    <title>저장하자~</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <style>
        html,body,header,.container{width: 100%;height: 100%;}
        .container,#flexs{
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .container{
            flex-direction: column;
        }
        .defaultInput{
            display:flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        .defaultInput *
        {
            margin-right: 1%;
        }
        .input-group{
            margin: 2%;
        }
        .detailInput {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
        #flexs *{
            margin-right: 10%;
        }
        .detailInput{
            margin-top: 5%;
        }
        #hides{
            display:flex;

        }

    </style>
    
</head>
<body>