{{>layout/header}}
<div class="container">
    <div class="defaultInput">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">ChatID</span>
            <input type="text" class="form-control" id="chatid" placeholder="CHATID" aria-describedby="basic-addon1" size="10%">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">이름</span>
            <input type="text" class="form-control" id="name" placeholder="이름" aria-describedby="basic-addon1" size="10%">
        </div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                사이트
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                {{#notices}}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change(this)">{{department}}</a></li>
                {{/notices}}
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"  class="ggs"> <input type="text" name=""class="gg" id=""></a></li>
            </ul>
        </div>
        <div class="custom-control custom-checkbox" id="flexs">
            <input type="checkbox" id="jb-checkbox" class="custom-control-input">
            <label class="custom-control-label" for="jb-checkbox">Group</label>
        </div>
        <button class="btn btn-default" id="save">저장하기</button>
    </div>
    <div >
        <button type="button" class="btn btn-default" id="hides">Detail</button>
    </div>
    <div class="detailInput">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">url</span>
            <input type="text" class="form-control" id="url" placeholder="url" aria-describedby="basic-addon1" size="10%">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">title</span>
            <input type="text" class="form-control" id="title" placeholder="title" aria-describedby="basic-addon1" size="10%">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">BaseUrl</span>
            <input type="text" class="form-control" id="BaseUrl" placeholder="BaseUrl" aria-describedby="basic-addon1" size="10%">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">dateFommat</span>
            <input type="text" class="form-control" id="dateFommat" placeholder="dateFommat" aria-describedby="basic-addon1" size="10%">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">docElement</span>
            <input type="text" class="form-control" id="docElement" placeholder="docElement" aria-describedby="basic-addon1" size="10%">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">noticeClass</span>
            <input type="text" class="form-control" id="noticeClass" placeholder="noticeClass" aria-describedby="basic-addon1" size="10%">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">titleClass</span>
            <input type="text" class="form-control" id="titleClass" placeholder="titleClass" aria-describedby="basic-addon1" size="10%">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">dateClass</span>
            <input type="text" class="form-control" id="dateClass" placeholder="dateClass" aria-describedby="basic-addon1" size="10%">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">hostUrl</span>
            <input type="text" class="form-control" id="hostUrl" placeholder="hostUrl" aria-describedby="basic-addon1" size="10%">
        </div>

    </div>
</div>
{{>layout/footer}}